* {
    font-family: 'Acme', sans-serif;
}

.container{
    text-align: center;
}

h2 {
    margin-top: 40px;
}

p{
    margin-top: 10px;
    margin-bottom: 2rem;
}

.result {
    white-space : pre-wrap;
    color: #414756;
    background-color: #f3f3f4;
}