* {
    font-family: 'Acme', sans-serif;
}

.container{
    text-align: center;
}

h2 {
    margin-top: 40px;
}

p{
    margin-top: 10px;
    margin-bottom: 2rem;
}

.result {
    white-space : pre-wrap;
    color: #414756;
    background-color: #f3f3f4;
}
.search-container{
    padding: 0;
}
.search-list {
    display: flex;
    background-color: white;
    cursor: pointer;
    padding-left: 10px;
    border: 1px solid #888888;
}
.search-list:hover{
    background-color: #f3f3f4;
}